**<h2>Loan Status Prediction</h2>**
From the given dataset, build a machine learning model which can be used to predict the loan to be approved or to be rejected for an applicant.
| Column | Description |
|--------|--------------|
|  Loan_ID   |     A unique loan ID   | 
|  Gender   |     male or female  |  
|  Married      |  Weather Married(yes) or Not Marttied(No)   | 
|  Dependents	| Number of persons depending on the client  |
|  Education	| Applicant Education(Graduate or Undergraduate). |
|  Self_Employed	|Self-employed (Yes/No). |
|  ApplicantIncome    |Income of the applicant  |
|  CoapplicantIncome    |Co-applicant income|
|  LoanAmount   |Loan amount in thousands. |
|  Loan_Amount_Term  | Terms of the loan in months|
|  Credit_History	| Credit history meets guidelines  |
|  Property_Area	|Applicants are living either Urban, Semi-Urban or Rural  |
|  Loan_Status  |  Loan approved (Y/N).  |

### Question 1: Data Loading and Observation

- Load the data named `loan_data` and store it in the variable `df`. 
- Observe the first few rows of the dataframe and perform some preliminary analysis.

In [1]:
#import statements
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('loan_data.csv')

In [5]:
head = df.head()

In [6]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q1 = head
    from loanpred import prediction
    prediction.save_ans1(q1)
except:
    print("Please check if the variable to the question has been assigned properly")

Please check if the variable to the question has been assigned properly

### Question 2: Handling Missing Values

- Replace the missing values present in 'Credit_History' column with the mean value.
- Replace the missing values present in other columns in the dataset with their respective mode value.
- Convert Dependents column datatype as 'float64'. 
- Drop the Loan_ID column. 
- Assign a copy of the final cleaned dataframe to the variable `new_df`.

In [40]:
# mean_value = df.Credit_History.mean()
# df.Credit_History=df.Credit_History.fillna(value=mean_value) 
# df.Credit_History.value_counts()
# for col_name in df.columns: 
#     mean_value = df[col_name].mode()
#     df[col_name]=df[col_name].fillna(value=mean_value) 
convert_dict = {'Loan_Status':float
                }

def fun1(x):
    if x=='Y':
        return 1
    else:
        return 0
# df['Loan_Status']=df.Loan_Status.apply(fun1)
df.Loan_Status.value_counts()
df=df.astype(convert_dict)
# df.drop('Loan_ID',inplace=True,axis=1)
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0.0
1,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1.0
2,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1.0
3,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1.0
4,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
276,Male,No,0,Graduate,No,6500,0.0,105.0,360.0,0.0,Rural,0.0
277,Male,Yes,0,Graduate,No,2425,2340.0,143.0,360.0,1.0,Semiurban,1.0
278,Male,No,0,Graduate,No,3750,0.0,100.0,360.0,1.0,Urban,1.0
279,Male,No,0,Graduate,No,1926,1851.0,50.0,360.0,1.0,Semiurban,1.0
280,Female,Yes,0,Not Graduate,Yes,7142,0.0,138.0,360.0,1.0,Rural,1.0

In [41]:
pip install Desktop/Project/kickoffs-classification-loan_prediction/.tests/loanpred-0.1-py3-none-any.whl

Processing c:\users\apar58285\onedrive - groupe ipsen\all\t3\hands-on\10 may\project\kickoffs-classification-loan_prediction\desktop\project\kickoffs-classification-loan_prediction\.tests\loanpred-0.1-py3-none-any.whl
Note: you may need to restart the kernel to use updated packages.

WARNING: Requirement 'Desktop/Project/kickoffs-classification-loan_prediction/.tests/loanpred-0.1-py3-none-any.whl' looks like a filename, but the file does not exist
ERROR: Could not install packages due to an OSError: [Errno 2] No such file or directory: 'C:\\Users\\apar58285\\OneDrive - Groupe IPSEN\\ALL\\t3\\Hands-on\\10 may\\Project\\kickoffs-classification-loan_prediction\\Desktop\\Project\\kickoffs-classification-loan_prediction\\.tests\\loanpred-0.1-py3-none-any.whl'

In [35]:
df.Loan_Status.value_counts()

Y    206
N     75
Name: Loan_Status, dtype: int64

In [ ]:
new_df = _

In [ ]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q2 = new_df
    from loanpred import prediction
    prediction.save_ans2(q2)
except:
    print("Please check if the variable to the question has been assigned properly")

### Question 3: Converting categorical data into numerical form

- Using Label encoder, Convert the 'Gender','Married','Education','Self_Employed','Loan_Status', 'Property_Area' column into numerical form.
- Assign a copy of the final cleaned dataframe to the variable `new_df1` for testing.

In [ ]:
new_df1 = _

In [ ]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q3 = new_df1
    from loanpred import prediction
    prediction.save_ans3(q3)
except:
    print("Please check if the variable to the question has been assigned properly")

### Question 4: Feature Selection, Split the dataset and fit the model.

- Create a variable named `X` and `y` as independent and dependent variable(Loan_Status).
- Using **train_test_split** function,split the dataset with training set size of 20% and random state equal to 42.
- Fit the features using standard scalar into variable `X_train` and `X_test`.

In [ ]:
X_train = _
X_test = _

In [ ]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q4 = [X_train,X_test]
    from loanpred import prediction
    prediction.save_ans4(q4)
except:
    print("Please check if the variable to the question has been assigned properly")

### Question 5: Fit the model and get the accuracy score of the model

- Fit the model using Decision tree classifier which has minimum number of sample in leaf node equal to 35.
- Assign the fine-tuned model to the variable `model`.
- Predict using the model and store it in the variable `y_pred`.
- Get the accuracy score of the model, round off accuracy score upto two decimal places and store it in the variable `acc_score`

In [ ]:
model = _

In [ ]:
y_pred = _
acc_score = _

In [ ]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q5 = [model, y_pred, acc_score]
    from loanpred import prediction
    prediction.save_ans5(q5)
except:
    print("Please check if the variable to the question has been assigned properly")

### Question 6: Prediction

- Load the dataset `Loan_validation.csv` and perform all the data cleaning and pre-processing tasks in the same manner as the training data.  
- Predict the validation dataset and store the result in the variable `y_pred_val` as a list.

In [ ]:
y_pred_val = _

In [ ]:
################ Don't edit or delete the cell, Run this cell to test your code  ################
try:
    q6 = y_pred_val
    from loanpred import prediction
    prediction.save_ans6(q6)
except:
    print("Please check if the variable to the question has been assigned properly")

**Note : After you have finished solving the questions, please run the below cell to save your answers for testing.**

In [ ]:
from loanpred import prediction
try:
    q1 = head
    q2 = new_df
    q3 = new_df1
    q4 = [X_train,X_test]
    q5 = [model, y_pred, acc_score]
    q6 = y_pred_val
    prediction.save_answer(q1,q2,q3,q4,q5,q6)
 
except:
    print("Assign the answers to all the variables properly.")
    prediction.remove_pickle()
    try:
        q1 = head
        prediction.save_ans1(q1)
    except:
        pass
    try:
        q2 = new_df
        prediction.save_ans2(q2)
    except:
        pass
    try:
        q3 = new_df1
        prediction.save_ans3(q3)
    except:
        pass
    try:
        q4 = [X_train,X_test]
        prediction.save_ans4(q4)
    except:
        pass
    try:
        q5 = [model, y_pred, acc_score]
        prediction.save_ans5(q5)
    except:
        pass
    try:
        q6 = y_pred_val
        prediction.save_ans6(q6)
    except:
        pass